
table.customers {
    font-size:16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.customers td, .customers th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

#customers1 tr:nth-child(even){background-color: #f2f2f2}

.customers th {
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: gray;
    color: white;
}


@media print {
    footer {
        page-break-after: always;
    }
}
