/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
	font-family:Arial;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a:hover {
    text-decoration: none !important;
}

header {
    background: #19548C;
    border-top: 2px #000 solid;
    /*border-bottom: 1px #666 solid;*/
    padding-left: 1%;
    padding-right: 1%;
    /*background: linear-gradient(180deg, #2e4040, #5f6969);*/
    color: #FFF;
}

    header .logo {
        text-transform: Uppercase;
        padding: 0px 0px 20px 0px;
    }

    header nav {
    }

        header nav ul {
        }

            header nav ul li {
                float: left;
            }

                header nav ul li a {
                    color: #FFF;
                    float: left;
                    padding: 5px 10px 5px 10px;
                    font-size: 14px;
                }

                    header nav ul li a:hover {
                        background: #FFF;
                        border-radius: 2px;
                    }

.n_left_nav {
    border-top:3px #56b6ec solid;
}
.n_left_nav li {
   
}
.n_left_nav li a{
    color:#bac9d0;  
    font-size:12px;     
}

.n_left_nav li a div{
    width:100%;
    line-height:30px;
    padding-left:10px; 
}
.n_left_nav li a div:hover{
    background-color:#384850;       
}

#mainDiv .k-grid .k-grid-header{
    background-color:#19548C;
    
}

.pagebutton {
    background: #FFF;
    border-radius: 2px;
    color: #337ab7;
}

.content-web {
    /*padding-left: 10%;
    padding-right: 10%;*/
    background:#FFF;
    padding-bottom: 0px;
	clear:both;
}

.form-margin {
    margin-top: 50px;
}

.re-heading {
    color: #ffffff;
    font-size: 18px;
    padding: 15px 10px 15px 10px;
    
    padding-left:10px;
    background-color:#19548C;
}

.content-web form label {
    font-weight: bold;
	color:#333;
	
}

.content-web form .fo-input {
    clear: both;
    width: 80%;
    border: 1px #dfdfdf solid;
	background:#ffffff;
    height: 30px;
    color: #222222;
    padding-left: 5px;
}

.content-web form .fo-button {
    clear: both;
    width: 80%;
    border: none;
    background: #282828;
    color: #FFF;
    padding: 7px 0px 7px 0px;
    font-size: 16px;
}

.content-web form .re-button {
    clear: both;
    width: 80%;
    border: none;
    background: #282828;
    color: #FFF;
    padding: 7px 0px 7px 0px;
    font-size: 16px;
    margin-top: 5px;
}

.content-web form .re-div {
    padding-bottom: 5px;
    color: #4e4e4e;
    font-size: 12px;
}

.content-web form .re-input {
    clear: both;
    width: 100%;
    border: 1px #CCC solid;
    height: 30px;
}

footer {
    background: #242525;
    border-top: 1px #374245 solid;
    padding: 10px 10% 10px 10%;
    color: #888;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.field-validation-error {
    color: red;
    font-weight: bold;
}

.new_menu{

}
.new_menu{
    padding-top:24px;
}
.new_menu ul li{
    float:left;
    padding-left:30px;
}
.new_menu ul li:first-child{
   
    padding-left:0px;
}
.new_menu ul li a{
    color:#fff;
    font-size:12px;
}