﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Contact.aspx.cs" Inherits="EasyPostDemo.Contact" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <div class="container">
        <h2 style="border-bottom: 1px #e2e7f0 solid; margin-bottom: 40px; margin-top: 0;">CONTACT US</h2>
        <div class="col-md-12" style="margin-bottom: 240px;">
            <p>
                <span style="font-weight: bold;"><a href='mailto:support@eclickship.com'>support@eclickship.com</a></span><br />

        </div>
    </div>
</asp:Content>
